body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.main-clock-shape{
    min-height:90vh;
    min-width:90vh;
    border:8px solid white;
    border-radius: 50%; 
    position: relative;
}
.numbers{
    top:50%;
    left:50%;
    position: absolute;
    font-size: 30px;
    color: white;
}
.numbers:nth-child(1){
    transform:rotate(0deg) translateY(-40vh) rotate(-0deg);
}
.numbers:nth-child(2){
    transform:rotate(30deg) translateY(-40vh) rotate(-30deg);
}
.numbers:nth-child(3){
    transform:rotate(60deg) translateY(-40vh) rotate(-60deg);
}
.numbers:nth-child(4){
    transform:rotate(90deg) translateY(-40vh) rotate(-90deg);
}
.numbers:nth-child(5){
    transform:rotate(120deg) translateY(-40vh) rotate(-120deg);
}
.numbers:nth-child(6){
    transform:rotate(150deg) translateY(-40vh) rotate(-150deg);
}
.numbers:nth-child(7){
    transform:rotate(180deg) translateY(-40vh) rotate(-180deg);
}
.numbers:nth-child(8){
    transform:rotate(210deg) translateY(-40vh) rotate(-210deg);
}
.numbers:nth-child(9){
    transform:rotate(240deg) translateY(-40vh) rotate(-240deg);
}
.numbers:nth-child(10){
    transform:rotate(270deg) translateY(-40vh) rotate(-270deg);
}
.numbers:nth-child(11){
    transform:rotate(300deg) translateY(-40vh) rotate(-300deg);
}
.numbers:nth-child(12){
    transform:rotate(330deg) translateY(-40vh) rotate(-330deg);
}
.hour-handle{
    top:50%;
    left:50%;
    position:absolute;
    background-color: white;
    width:4px;
    height:25vh;
    transform-origin: top center;
}
.min-handle{
    top:50%;
    left:50%;
    transform-origin: top center;
    background-color: white;
    position:absolute;
    width:3px;
    height:30vh;
}
.sec-handle{
    top:50%;
    left:50%;
    transform-origin: top center;
    background-color: white;
    position:absolute;
    width:2px;
    height:35vh;
}